* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .lineChartContainer {
  padding: 2em 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 10px 20px 4px #aaa;
          box-shadow: 0px 10px 20px 4px #aaa;
}

.hero .lineChartContainer .lineChart {
  height: 700px;
  width: 1000px;
  padding: 1em 0;
}

.hero .maxesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2em 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 0 0 0 1em;
  -webkit-box-shadow: 0px 10px 20px 4px #aaa;
          box-shadow: 0px 10px 20px 4px #aaa;
}

nav {
  margin: 1em 0;
}

nav .nav-item .nav-link {
  font-weight: bold;
}

.link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-wrapper .new-record-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30em;
  height: 26em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 0 0.5em;
}

.link-wrapper .new-record-wrapper .subtitle {
  margin-bottom: 1em;
  text-align: center;
}

.link-wrapper .new-record-wrapper button {
  margin: 1em auto;
  width: 10em;
}

.link-wrapper .set-new-goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30em;
  height: 26em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 0 0.5em;
}

.link-wrapper .set-new-goals .subtitle {
  margin-bottom: 1em;
  text-align: center;
}

.link-wrapper .set-new-goals .table {
  width: 600px;
}

.link-wrapper .set-new-goals .check:hover {
  cursor: pointer;
}

.edit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 900px;
  height: 26em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 0 auto;
}

.edit-wrapper .input-section {
  margin: 2em 0;
}
/*# sourceMappingURL=styles.css.map */